@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Open+Sans:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.body {
    position: relative;
    width: 80vw;
    height: 100vh;
    /* background-color: #ede0d4; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    overflow-y: auto;
}

.containerSearch {
    height: 20%;
    width: 80vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    background: url("https://s3.envato.com/files/304112829/090620%20(7).jpg");
    background-color: rgba(255, 255, 255, 0.5);
    background-blend-mode: lighten;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom: 5px solid rgba(51, 51, 51, 0.3);
    box-shadow: 0 10px 30px 15px #333;
    z-index: 2;
}

.containerSearch .search {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100px;
    width: 250px;
}

.containerSearch .search .inputAndIcon {
    width: auto;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.containerSearch .search .inputAndIcon input {
    width: auto;
    height: 30px;
    border: none;
    border-bottom: 2px solid white;
    font-size: 1em;
    border-radius: 5px;
    z-index: 20;
    background-color: rgba(51, 51, 51, 0.7);
    padding-left: 10px;
    color: white;
}

.containerSearch .search .inputAndIcon input::placeholder {
    color: white;
}

.containerSearch .search input:focus {
    /* box-shadow: 0 0 5px 1px #333; */
    border: 2px black solid;
    border-radius: 20px;
    padding-left: 10px;
}

.containerSearch .search i {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 12%;
    z-index: 21;
    color: white;
}

.containerSearch .btn {
    width: 70px;
    height: 20px;
    border: transparent 2px solid;
    box-shadow: 0 0 5px 1px #333;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.2s;
    z-index: 2;
}

.containerSearch .btn:hover {
    box-shadow: 0 0 0 0 transparent;
    border: 2px solid rgb(51, 51, 51, 0.8);
}

/* display books  */

.containerDisplay {
    position: relative;
    width: 80vw;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-gap: 20px;
    padding: 20px 100px;
    grid-template-columns: repeat(auto-fit, minmax(20%, 1fr));
    overflow-y: scroll;
    background-color: #ede0d4;
}

@media screen and (max-width: 1000px) {
    .containerDisplay {
        grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
    }
    .containerDisplay .box {
        width: 30%;
    }
}

@media screen and (max-width: 650px) {
    .containerDisplay {
        grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
        
    }
}

.containerDisplay .box {
    width: auto;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    row-gap: 10px;
    flex-direction: column;
    border-radius: 10px;
    background-color: rgb(255, 255, 255, 0.5);
    box-shadow: 2px 2px 10px 0.5px #333;
    font-size: 10px;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    z-index: 1;
    transition: linear 0.1s;
}

.containerDisplay .box:hover {
    box-shadow: 0px 0px 0px 1px #515151;
    scale: 1.1;
}

.containerDisplay .box .info {
    text-align: left;
    padding: 0 10px;
}

.containerDisplay .box button {
    border-radius: 5px;
    width: 50%;
    cursor: pointer;
    /* border: 1px solid black; */
    background-color: rgb(86, 86, 185);
}

.containerDisplay .box button:hover {

    background-color: rgb(104, 104, 207);
}

.containerDisplay .box button a {
    text-decoration: none;
    color: lightgray;
    font-weight: 600;
    font-size: 10px;
}

.containerDisplay .box button:hover a {
    color: white;
}

.containerDisplay .box img {
    width: 35%;
}

.headerNight {
    background: url("https://s3.envato.com/files/304112829/090620%20(7).jpg");
    background-color: rgba(70, 70, 70, 0.5);
    background-blend-mode: darken;
}