* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.navigation {
    position: relative;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
    height: 100vh;
    z-index: 100;
    border-right:2px solid black ;
}
.navigation img {
    width: 100%;
    border:5px transparent solid;
    border-bottom-left-radius:10px ;
    border-bottom-right-radius: 10px;
    box-shadow: 5px 20px 25px 0 rgba(245,245,245,0);
    opacity: 0.8;
}
.navigation ul {
    width:100%;
    padding-left: 5px;
    padding-top: 40px;
    margin-top: 20px;
}
.navigation ul li {
    position: relative;
    list-style: none;
    width: 100%;
    height: 80px;
}

.navigation ul li a {
    position: relative;
    height: auto;
    width:100%;
    display: flex;
    font-weight: 800;
    text-decoration: none;
    /* color: rgb(26, 69, 147); */
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    z-index: 2;
}
.navigation ul li a .icon {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 60px;
    height: 60px;
    /* line-height: 70px; */
    text-align: center;
}
.navigation ul li a .icon i {
    font-size: 1.5em;
}
.navigation ul li a .rotate {
    transform: rotate(180deg);
}
.navigation ul li a .title {
    display: block;
    padding-left: 10px;
    height: 60px;
    line-height: 60px;
    font-size: 0.8em;
}
.navigation ul .settings {
    position: absolute;
    bottom: 0;
    margin-bottom: 10px;

}
.navigation ul .settings:hover a .icon {
    transform: rotate(0deg);
    animation: rotate 1s infinite linear;
}
@keyframes rotate {
    0% {
        transform: rotatey(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.navigation ul li::before {
    position: absolute;
    content: "";
    width: 0px;
    height: 60px;
    background-color: rgb(245, 245, 245,0.7);
    z-index: 100;
    right: 0;
    z-index: 1;
    transition: 0.2s linear;
}
.navigation ul li:hover::before {
    width: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.navigation ul li:hover a {
    color: #333;
}

/* ---------------------------------- */

.navigationLight {
    background: url("https://ichef.bbci.co.uk/news/976/cpsprodpb/B1F8/production/_95506554_istock-497282978.jpg.webp");
    background-position: center;
    background-size:cover;
    background-color: rgb(237, 224, 212,0.8);
    background-blend-mode: lighten;
}
.navigationNight {
    background: url("https://ichef.bbci.co.uk/news/976/cpsprodpb/B1F8/production/_95506554_istock-497282978.jpg.webp");
    background-position: center;
    background-size:cover;
    background-color: rgb(51, 51, 51,0.8);
    background-blend-mode: darken;
    border-right: 2px solid whitesmoke;
}

.aNight {
    color: rgba(245,245,245,0.8);
}
.aLight {
    color: rgb(26, 69, 147);
}

.imgNight {
    box-shadow: 5px 20px 25px 0 whitesmoke;
    opacity: 1;
    background-color: rgba(245,245,245,0.8);
}

    
@media screen and (max-width: 1300px) {
    .navigation ul li a {
        display: flex;
        flex-direction: column;
        height: 100px;
    }
    .navigation ul li a .title {
        transform: translatey(-100%);
        display: flex;
        justify-content: center;
        align-items: center;
        line-height: 40px;
        padding-left: 0;
        height: 10px;
        font-size: 0.6em;
        width: 100%;
    }
    .navigation ul li a .icon {
        min-width: 20px;
        height: 40px;
        line-height: 0px;
    }
    .navigation ul li a .icon i {
        font-size: 1.2em;
    }
    .navigation ul li::before {
        height: 50px;
    }
    .navigation ul li:hover::before {
        width: 100%;
        height: 50px;
    }     
}