<app-navbar></app-navbar>
<router-outlet></router-outlet>
<lib-ng-toast></lib-ng-toast>
<!-- <div class="navigation" [ngClass]="{'navigationNight':theme=='night','navigationLight':theme != 'night'}" >
  <img src="../assets/ortBraude_preview_rev_1.png" alt="" srcset="">
  <ul>
    <li class="list active" >
      <a routerLink="" (click)="changeStatus('home')" [ngStyle]="{backgroundColor : changeclr1()}">
        <span class="icon"><i  class="fa-solid fa-house" [ngStyle]=""></i></span>
        <span class="title">Home</span>
      </a>
    </li>
    <li class="list">
      <a routerLink="AddBook" (click)="changeStatus('addBook')" [ngStyle]="{backgroundColor : changeclr2()}">
        <span class="icon"><i class="fa-solid fa-plus"></i></span>
        <span class="title">Add new book</span>
      </a>
    </li>
    <li class="list">
      <a routerLink="InLibrary" (click)="changeStatus('InLibrary')" [ngStyle]="{backgroundColor : changeclr3()}">
        <span class="icon"><i class="fa-solid fa-arrow-right-to-bracket"></i></span>
        <span class="title">Books from library</span>
      </a>
    </li>
    <li class="list">
      <a routerLink="OutOfLibrary" (click)="changeStatus('OutOfLibrary')" [ngStyle]="{backgroundColor : changeclr4()}">
        <span class="icon rotate"><i class="fa-solid fa-arrow-right-to-bracket"></i></span>
        <span class="title">Books outside the library</span>
      </a>
    </li>
    <li class="list settings">
      <a routerLink="Settings" (click)="changeStatus('Settings')" [ngStyle]="{backgroundColor : changeclr5()}">
        <span class="icon"><i class="fa-solid fa-gear"></i></span>
        <span class="title">settings</span>
      </a>
    </li>
  </ul>
</div> -->