@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Open+Sans:wght@400;700&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.body {
    position: relative;
    width: 80vw;
    height: 100vh;
    /* background-color: rgb(237, 224, 212); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.header {
    background: url("https://s3.envato.com/files/304112829/090620%20(7).jpg");
    background-color: rgba(255, 255, 255, 0.5);
    background-blend-mode: lighten;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 20%;
    box-shadow: 5px 5px 20px 1px #b6ada3;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom: 5px solid rgba(51, 51, 51, 0.3);
    box-shadow: 0 10px 30px 15px #333;
    font-family: 'Alfa Slab One', cursive;
}

h2 {
    font-size: 1.8em;
    color: black;
    letter-spacing: 2px;
    text-align: center;
    border-radius: 20px;
    padding: 10px;
}

.containerDisplay {
    position: relative;
    width: 100%;
    height: 100%;
    display: grid;
    justify-content: center;
    grid-gap: 20px;
    padding: 20px 50px;
    grid-template-columns: repeat(auto-fit, minmax(20%, 1fr));
    overflow-y: auto;
}

@media screen and (max-width: 1200px) {
    .containerDisplay {
        grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));

    }
}

@media screen and (max-width: 1000px) {
    .containerDisplay {
        grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
    }
    .containerDisplay .box {
        width: 30%;
    }
}

@media screen and (max-width: 650px) {
    .containerDisplay {
        grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
        
    }
}

.containerDisplay .box {
    background-color: rgba(255, 255, 255, 0.1);
    width: auto;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    text-align: center;
    border-radius: 10px;
    font-size: 0.6em;
    transition: linear 0.1s;
    font-family: 'Open Sans', sans-serif;
    box-shadow: 1px 1px 5px 0px #333;
}
.containerDisplay .box span {
    color: red;
    font-size: 2em;
    margin: 0 auto;
}
.containerDisplay .box h3 {
    margin-left: 10%;
}
.containerDisplay .box img {
    width: 100px;
    margin: 0 auto;
}


.containerDisplay .box:hover {
    box-shadow: 0px 0px 0px 1px #515151;
    scale: 1.1;
}
.containerDisplay .box button {
    border-radius: 5px;
    width: 50%;
    cursor: pointer;
    /* border: 1px solid black; */
    background-color: rgb(86, 86, 185);
    color: lightgray;
    margin: 0 auto;
}
.containerDisplay .box button:hover {
    color: white;
    background-color: rgb(104, 104, 207);
}
.containerDisplay .box button a {
    text-decoration: none;
    color: #333;
    font-weight: 600;
    font-size: 10px;
}

.headerNight{
    background: url("https://s3.envato.com/files/304112829/090620%20(7).jpg");
    background-color: rgba(0, 0, 0, 0.2);
    background-blend-mode: darken;
}