* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container {
    position: relative;
    height: 100vh;
    min-height: 50vh;
    width: 80vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Poppins',sans-serif;
    overflow: hidden;
}
.container .img {
    position: absolute;
    left: -25.5%;
    top: -18%;
    background-image: url(/assets/pictureAngular.png);
    background-repeat: no-repeat;
    height: 115vh;
    width: 115vw;
    clip-path: polygon(0 0, 100% 0, 100% 44%, 0 90%);
    background-size: cover;
    background-position: center;
    opacity: 0.6;
}
/* .container img {
    height: auto;
    max-width:70vw;
    opacity: 0.7;
    box-shadow: 0 0 0 0 rgb(190, 179, 170);
    border-radius: 450px;
    overflow: hidden;
    clip-path: polygon(0 0, 100% 0, 100% 26%, 0 77%);
    display: none;
}
.container:hover img {
    opacity: 0.5;
    box-shadow: 0 0 30px 15px rgb(26, 69, 147);
} */
.container .info {
    position: absolute;
    width: auto;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: rgb(26, 69, 147);
    font-size: 1.2em;
    text-shadow: 2px 2px 8px white;
    letter-spacing: 0px;
    row-gap: 50px;
    transition: 0.5s;
    bottom: 10%;
    right: 10%;
}
.container:hover .info {
    letter-spacing: 3px;
    scale: 1.2;
}

@media screen and (max-width: 1300px) {
    .info h3 {
        font-size: 0.8em;
    }
    .info h5 {
        font-size: 0.6em;
    }
    .container:hover .info {
        scale: 1;
    }
}