* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}
.body {
    width: 80vw;
    height: 100%;
    /* background-color: #ede0d4; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 50px;
}
.body .themeMode {
    position: relative;
    height: 350px;
    width: 500px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    row-gap: 30px;
    border-radius: 20% ;
    font-weight: 700;
}

.body .themeMode button {
    width: 150px;
    height: 40px;
    cursor: pointer;
    font-weight: 700;
    border: none;
    background-color: rgb(157, 69, 69);
    border: 2px solid transparent;
    color: whitesmoke;
    border-radius: 20px;
    box-shadow: 0 0 0 0 rgb(139, 56, 56);
    transition: ease-in-out 0.1s;
    color: rgba(255,255,255,0.6);
}
.body .themeMode button:hover {
    box-shadow: 0px 5px 5px 0px rgb(134, 71, 71);
    margin-bottom: 5px;
    color: rgba(255,255,255,1);
    border: 2px solid rgb(134, 71, 71);
    background-color: rgb(192, 85, 85);
}
.body .themeMode .light {
    left: 10%;
    top: 50%;
    width: 100px;
    height: 40px;
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    box-shadow: 0 0 10px 3px rgb(51, 51, 51);
}
.body .themeMode .night {
    opacity: 1;
    background-color: #333;
    color: whitesmoke;
    border-radius: 50px;
    left: 10%;
    top: 50%;
    width: 100px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    box-shadow: 0 0 10px 3px rgb(245, 245, 245);
}
/* .body .themeMode input::after {
    box-shadow: 0 0 10px 2px rgb(26, 69, 147,0);
    opacity: 0.5;
} */
.body .admin {
    text-align: center;
    display: flex;
    flex-direction: column;
}
.body .admin span {
    color: rgb(139, 56, 56);
}

.body .admin .adminShow span {
    color: darkgreen;
    font-size: 2em;
}
.adminNight {
    color: whitesmoke;

}